* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    margin: 30px auto;
}
.square {
    width: 6.25%;
    height: 6.25%;
    background-color: burlywood;
    border: 1px solid black;
    border-radius: 2px;
}

.square:hover {
    background-color: chocolate;
    transition: 1.1s;
}

.button {
    text-align: center;
    color: white;
    background: black;
    padding: 20px;
    border-radius: 8px;
}

.button:hover {
    transform: scale(1.1);
}

.button-container {
    margin: 20px auto;
    text-align: center;
}